DirectoryIndex index.php index.html index.htm default.htm default.html

RewriteEngine On



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ http:///$1 [P,L]

ErrorDocument 401 "HTTP 401: Access Denied"
ErrorDocument 403 "HTTP 403: Forbidden"
ErrorDocument 404 "HTTP 404: Object not found"

header set x-frame-options SAMEORIGIN
